body {
    background-image: url("");
}
h1 {
    color:white;
}
h5 {
    color: white;
}
.moviePoster {
    float: left;
    padding: 5px;
    width: 100px;
}
.results {
    color: white;
    padding: 2px;
    border-style: solid;
    border-width: 2px;
}
.bullets {
    padding-left: 5px;
}